@import "normalize";

/* === Mixins & Helpers */
@import "mixins/transitions";
@import "mixins/helpers";

@font-face {
  font-family: "District";
  src: 	url("../fonts/District.otf?") format('opentype');
}
@font-face {
  font-family: "Quicksand-Regular";
  src: 	url("../fonts/Quicksand-Regular.otf?") format('opentype');
}

@mixin font-number () {
	font-family: "District", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.15em;
	line-height: 1em;
}

@mixin font-1-regular () {
	font-family: "Quicksand-Regular", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.15em;
	line-height: 1em;
}

@mixin font-1-light () {
	font-family: "Quicksand-Light", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.15em;
	line-height: 1em;
}

$color-lighter: rgb(252, 252, 250);
$color-light: rgb(231, 227, 202);
$color-dark: rgb(43, 42, 60);
$color-darker: rgb(24, 18, 32);

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.game-container {
	position: relative;
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#canvas {
	display: block;
	z-index: 2;
}

#canvasEnv {
	display: none;
	z-index: 1;
	background: white;
}

#UI {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
	@include font-1-regular;

	* {
		@include no-select;
	}
}

.number {
	@include font-number;
}

.ui-container {
	position: absolute;
	display: block;
	width: auto;
	height: auto;
	font-size: 12px;
	color: $color-lighter;
	cursor: default;
	text-align: center;
}

.logo-container {
	$logo-normal-w: 300px;
	$logo-normal-h: 110px;
	$logo-small-multiplier: 0.9;
	z-index: 11;
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: $logo-normal-w;
	height: $logo-normal-h;
	transform: translate(-50%, -50%);
	color: $color-lighter;
	cursor: default;
	text-align: center;

	.logo-svg-container {

		@include transition(width 0.2s ease-in 0,
							height 0.2s ease-in 0,
							transform 0.2s ease-in 0,
							opacity 0.2s ease-in 0);
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		display: block;
		width: $logo-normal-w * $logo-small-multiplier;
		height: $logo-normal-h * $logo-small-multiplier;
		transform: translate(-50%, 149px);
		color: $color-lighter;
		cursor: default;
		text-align: center;
		opacity: 0;

		svg {
			width: 100%;
			height: auto;
			fill: $color-lighter;

			path {
				width: 100%;
				height: 100%;
			}
		}

		// .game-title-screen & {
		// 	@include transition(width 0.2s ease-out 0,
		// 						height 0.2s ease-out 0,
		// 						transform 0.2s ease-out 0);
		// 	width: $logo-normal-w;
		// 	height: $logo-normal-h;
		// 	transform: translate(-50%, #{-($logo-normal-h * 0.5) + 169px});
		// 	opacity: 1;
		// }

		.game-paused & {
			@include transition(width 0.2s ease-out 0,
								height 0.2s ease-out 0,
								transform 0.2s ease-out 0);
			width: $logo-normal-w;
			height: $logo-normal-h;
			transform: translate(-50%, #{-($logo-normal-h * 0.5) + 169px});
			opacity: 1;
		}
	}

	.ring {
		@include transition(width 0.2s ease-out,
							height 0.2s ease-out,
							transform 0.2s ease-out);
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		width: 600px;
		height: 600px;
		transform: translate(-50%, -50%) scale(1);
		border: 1px solid $color-lighter;
		border-radius: 100%;
		opacity: 1;

		// .game-title-screen & {
		// 	@include transition(width 0.25s ease-out,
		// 						height 0.25s ease-out,
		// 						transform 0.25s ease-out);
		// 	width: 300px;
		// 	height: 300px;
		// 	transform: translate(-50%, -50%) scale(1);
		// 	opacity: 1;
		// }

		.game-paused & {
			@include transition(width 0.25s ease-out,
								height 0.25s ease-out,
								transform 0.25s ease-out);
			width: 300px;
			height: 300px;
			transform: translate(-50%, -50%) scale(1);
			opacity: 1;
		}
	}
}

.time-container {
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, calc(-50% - 10px));

	span {
		font-size: 60px;
		display: block;
		margin-top: 4px;
	}
}

.score-container {
	z-index: 1;
	left: 50%;
	top: 30px;
	transform: translateX(-50%);

	span {
		font-size: 16px;
		display: block;
		margin-top: 4px;
	}
}

.paused-container {
	@include transition(opacity 0.2s ease-out);
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;

	.game-paused & {
		opacity: 1;
	}

	span {
		position: absolute;
		left: 50%;
		top: 50%;
		display: block;
		transform: translate(-50%, calc(-50% + -200px));
		font-size: 36px;
	}
}