@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin select-text {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

// removes padding from first and last items in row depending on $n
// optionally restrict to items that are children of $parent
@mixin removePaddingFirstLast($n, $parent: '') {
	#{$parent} &:nth-child(#{$n}n-#{$n - 1}) {
		padding-left: 0;
	}
	#{$parent} &:nth-child(#{$n}n) {
		padding-right: 0;
	}
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// force inline textbreak for long text like 'Chojagahamashiosaihamanasukoenmae' or a url
@mixin word-wrap() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: normal;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

@mixin number-circle($px: 20) {
	text-align: center;
	padding-right: 1px;
	width: #{$px}px;
	height: #{$px}px;
	line-height: #{$px}px;
	border-radius: 50%;
}

.centered {
	text-align: center;
}

.-mirrorY {
	transform: scaleY(-1);
}

.-hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
}

.clearfix{
	@include clearfix;
}